*{
  margin:0;
}
.notepad-dlg-row {
    height: 100%;    
    position: fixed;
    width: 100%;
}

.notepad-dlg-row .dialogbox {
    border: 1px solid #0f7fd6;
    //box-sizing: border-box;
    cursor: default;
    height:161px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    user-select: none;
    width: 293px;
}

.notepad-dlg-row .titlebar {
    background-color: white;
    font-size: 0.8em;
    height: 30px;
}

.notepad-dlg-row .titlebar .title {
    left: 10px;
    line-height: 30px;
    position: absolute;
}

.notepad-dlg-row .titlebar .btn-cancel {
    color: gray;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}

.notepad-dlg-row .titlebar .btn-cancel:hover {
    color: red;
}

.notepad-dlg-row .main {
    background-color: #f0f0f0;
    box-sizing: border-box;
    height: 129px;
    padding:0;
    position: relative;
}

.notepad-dlg-row .main .title{
  font-size:0.8em;
  line-height:29px;
  margin-left:12px;
  padding:0;
}

.notepad-dlg-row .main .search-row{
  width:265px;
  height:25px;
  background-color:white;
  border:1px solid blue;
  margin-left:12px;
}

.notepad-dlg-row .main .btn-ok {
    bottom: 16px;
    height: 28px;
    position: absolute;
    right: 108px;
    width: 86px;
}
.notepad-dlg-row .main .btn-ok:hover {
  border:1px solid #0f7fd6;
}
.notepad-dlg-row .main .btn-cancel:hover{
  border:1px solid #0f7fd6;
}
.notepad-dlg-row .main .btn-cancel {
    bottom: 16px;
    height: 28px;
    position: absolute;
    right: 14px;
    width: 86px;
}
